{% load static %}
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="{% static '/img/favicon.ico' %}">
    <title>moshen.tech</title>
    <link rel="shortcut icon" href="{% static '/img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static '/css/master.css'%}">
    <link rel="stylesheet" href="{% static '/css/vendors.css'%}">
    <link rel="stylesheet" href="{% static '/css/chunk-1f8cfda0.aa70a2ce.css'%}">
    <link rel="stylesheet" href="{% static '/css/chunk-55edfc58.css'%}">
    <link rel="stylesheet" href="{% static '/css/chunk-626ca87c.45d59dcc.css'%}">
    <link rel="stylesheet" href="{% static '/css/chunk-bab7a4d2.9d9903a2.css'%}">
    <link rel="stylesheet" href="{% static '/css/chunk-75cb4b1c.c2a74b7d.css'%}">
    <link rel="stylesheet" href="{% static '/css/chunk-0b3e48d8.4ebf7b48.css'%}">
    <link rel="stylesheet" href="{% static '/css/chunk-133b4c33.32bd5b0b.css'%}">
    <link rel="stylesheet" href="{% static '/css/chunk-ec7cb55e.4a2cdb2b.css'%}">
    <link rel="stylesheet" href="{% static '/css/chunk-6368f954.c4311a99.css'%}">
    <link rel="stylesheet" href="{% static '/css/chunk-552b8f69.72fe4d74.css'%}">
    <link rel="stylesheet" href="{% static '/css/chunk-9ab06ac4.f8595e8d.css'%}">
    <link rel="stylesheet" href="{% static '/css/chunk-6a7978d3.3ebb9ab4.css'%}">
    <link rel="stylesheet" href="{% static '/css/chunk-7f7a4f9a.c8f5edfb.css'%}">
    <link rel="stylesheet" href="{% static '/css/chunk-f656066c.f33cd739.css'%}">
    <link rel="stylesheet" href="{% static '/css/chunk-32c4206c.936b2dbf.css'%}">
    <link rel="stylesheet" href="{% static '/css/pseudo.css'%}">
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.15.7/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@4.5.0/dist/css/swiper.min.css">
    <link rel="stylesheet" href="https://unpkg.com/pdfh5@1.4.0/css/pdfh5.css">
    <link rel="stylesheet" href="{% static '/css/toasted.css' %}">
</head>
<body>
    <noscript><strong>We're sorry but moshen.tech doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript>
    {% include 'main/hiden.svg' %}
    <div id="app" class="pc-k">
        <div data-v-429fbf3c="" class="nav_bar">
            <div data-v-429fbf3c="" class="nav_bar__center">
                <div data-v-429fbf3c="" class="nav_bar__logo" style="padding-right: 12px;">
                    <a href="/home">
                        <img data-v-429fbf3c="" src="{% static '/img/logo.17981fb7.png' %}">
                    </a>
                </div>
                <ul data-v-429fbf3c="">
                    <li data-v-429fbf3c="" class=""><a data-v-429fbf3c="" class="" href="/market">Market</a></li>
                    <li data-v-429fbf3c="" class=""><a data-v-429fbf3c="" class="" href="/trade">Exchange</a></li>
                    <li data-v-429fbf3c="" class=""><a data-v-429fbf3c="" class="" href="/scontract">Second Contract</a></li>
                    <li data-v-429fbf3c="" class=""><a data-v-429fbf3c="" class="" href="/finance">Finance</a></li>
                    <li data-v-429fbf3c="" class=""><a data-v-429fbf3c="" class="" href="/subscribe">Subscribe</a></li>
                    <li data-v-429fbf3c="" class=""><a data-v-429fbf3c="" class="" href="/mining">Mining</a></li>
                    <li data-v-429fbf3c="" class=""><a data-v-429fbf3c="" class="" href="/fund">Fund</a></li>
                    <li data-v-429fbf3c="" class=""><a data-v-429fbf3c="" class="" href="/myAssets">My Assets</a></li>
                    <li data-v-429fbf3c="" class=""><a data-v-429fbf3c="" class="" href="/login">My Center</a></li>
                </ul>
                <div data-v-429fbf3c="" class="nav_r" style="padding-right: 10px;">
                    <div data-v-3d861ea4="" data-v-429fbf3c="" class="info">
                        <div data-v-3d861ea4="" class="el-dropdown">
                            <div data-v-3d861ea4="" class="info__text el-dropdown-selfdefine" aria-haspopup="list" aria-controls="dropdown-menu-338" role="button" tabindex="0"><span data-v-3d861ea4="">Language</span></div>
                            <ul data-v-3d861ea4="" class="el-dropdown-menu el-popper" id="dropdown-menu-338" style="display: none;">
                                <li data-v-3d861ea4="" tabindex="-1" class="el-dropdown-menu__item">
                                    <!---->
                                    <div data-v-3d861ea4="" class="d-item"><img data-v-3d861ea4="" src="https://unicorn-oss.oss-ap-southeast-1.aliyuncs.com/img/assets/en.png" alt=""><span data-v-3d861ea4="" style="margin-left: 10px;">English</span></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!---->
                <div data-v-429fbf3c="" class="nav_r selected"><a data-v-429fbf3c="" href="/register/" class="selected">Register</a></div>
                <div data-v-429fbf3c="" class="nav_r"><a data-v-429fbf3c="" class="" href="/login/">Login</a></div>
            </div>
        </div>

{% block content %}

{% endblock %}

    </div>
<!--    <script src="https://unpkg.com/vue@2.6.11/dist/vue.min.js"></script>-->
<!--    <script src="https://unpkg.com/element-ui@2.15.7/lib/index.js"></script>-->
<!--    <script src="https://unpkg.com/element-ui@2.15.7/lib/umd/locale/en.js"></script>-->
<!--    <script src="https://unpkg.com/vue-router@3.0.3/dist/vue-router.min.js"></script>-->
<!--    <script src="https://unpkg.com/vuex@3.0.1/dist/vuex.min.js"></script>-->
<!--    <script src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script>-->
<!--    <script src="https://unpkg.com/swiper@4.5.0/dist/js/swiper.min.js"></script>-->
<!--    <script src="https://unpkg.com/qrcode.vue@1.7.0/dist/qrcode.vue.min.js"></script>-->
<!--    <script src="https://unpkg.com/echarts@5.3.1/dist/echarts.min.js"></script>-->
<!--    <script src="https://unpkg.com/pdfh5@1.4.0/js/jquery-2.1.1.min.js"></script>-->
<!--    <script src="https://unpkg.com/pdfh5@1.4.0/js/pdf.js"></script>-->
<!--    <script src="https://unpkg.com/pdfh5@1.4.0/js/pdf.worker.js"></script>-->
<!--    <script src="https://unpkg.com/pdfh5@1.4.0/js/pdfh5.js"></script>-->
<!--    <script src="https://unpkg.com/klinecharts@8.0.0/dist/klinecharts.min.js"></script>-->
    <script src="{% static '/js/chunk-ec7cb55e.6b788447.js' %}"></script>
    <script src="{% static '/js/chunk-6368f954.cbb31162.js' %}"></script>
    <script src="{% static '/js/chunk-552b8f69.4fbe0ab1.js' %}"></script>
    <script src="{% static '/js/vendors.60f99629.js' %}"></script>
    <div id="QilNlV1Yy" role="status" aria-live="polite" aria-atomic="false"></div>
</body>
</html>
