{% extends 'main/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
<section data-v-0d3622a2="" class="app-main route_view route_pc">
    <div data-v-124a5fbd="" data-v-0d3622a2="" class="container">
        <div data-v-124a5fbd="" class="h-action">
            <div data-v-17ad5dd2="" data-v-124a5fbd="" class="seg">
                <div data-v-17ad5dd2="" class="seg__item seg__item-active"><span data-v-17ad5dd2=""
                                                                                 class="seg__span seg__span-active">Financial Management Products</span>
                </div>
                <div data-v-17ad5dd2="" class="seg__item"><span data-v-17ad5dd2="" class="seg__span">My Order</span>
                </div>
            </div>
        </div>
        <div data-v-124a5fbd="" class="container__route">
            <div data-v-4b50d9c2="" data-v-124a5fbd="" class="container">
                <div data-v-4b50d9c2="" class="table" style="overflow: auto;">
                    <div data-v-4b50d9c2="" class="table__header">
                        <div data-v-4b50d9c2="" class="table__header-item">Product</div>
                        <div data-v-4b50d9c2="" class="table__header-item">Release funds</div>
                        <div data-v-4b50d9c2="" class="table__header-item">Period</div>
                        <div data-v-4b50d9c2="" class="table__header-item">Daily Rate</div>
                        <div data-v-4b50d9c2="" class="table__header-item">Operation</div>
                    </div>
                    <p data-v-4b50d9c2="" class="el-loading-footer-tip">No more</p></div>
            </div>
        </div>
    </div>
    {% include 'main/footer.html' %}
</section>
{% endblock %}
