{% load static %}
<div data-v-11368c02="" data-v-0d3622a2="" class="footer">
  <div data-v-11368c02="" class="footer__top">
    <div data-v-11368c02="" class="footer__top-item">
      <p data-v-11368c02=""></p>
      <ul data-v-11368c02="" style="margin-top: 34px;">
        <li data-v-11368c02="">Please note that the value of digital assets may change and may result in investment losses. Speculative investments should be closely monitored.</li>
      </ul>
    </div>
    <div data-v-11368c02="" class="footer__top-item">
      <p data-v-11368c02="">Scan Register</p>
      <div data-v-11368c02="" class="footer__top-code">
        <div data-v-11368c02="" value="https://www.moshen.online/pc/login/register?code=" level="H" background="#fff" foreground="#000" class="">
          <img style="width: 80px; height: 80px;" width="80" height="80" src="{% static '/img/qr.png' %}">
        </div>
      </div>
    </div>
    <div data-v-11368c02="" class="footer__top-item">
      <p data-v-11368c02="">About</p>
      <ul data-v-11368c02="">
        <li data-v-11368c02=""><a data-v-11368c02="" href="#" onclick="return false;" target="_blank">About us</a></li>
        <li data-v-11368c02=""><a data-v-11368c02="" href="#" onclick="return false;" target="_blank">Terms of Service</a></li>
        <li data-v-11368c02=""><a data-v-11368c02="" href="#" onclick="return false;" target="_blank">User Agreement</a></li>
        <li data-v-11368c02=""><a data-v-11368c02="" href="#" onclick="return false;" target="_blank">Contact us</a></li>
      </ul>
    </div>
    <div data-v-11368c02="" class="footer__top-item" style="flex: 1 1 0%;">
      <p data-v-11368c02="">User support</p>
      <ul data-v-11368c02="">
        <li data-v-11368c02=""><a data-v-11368c02="" href="mailto: SG_moshen@YAHOO.COM">SG_moshen@YAHOO.COM</a></li>
        <li data-v-11368c02=""><a data-v-11368c02="" href="mailto: SG_moshen@OUTLOOK.COM">SG_moshen@OUTLOOK.COM</a></li>
        <li data-v-11368c02=""><a data-v-11368c02="" href="mailto: SG_moshen@HOTMAIL.COM">SG_moshen@HOTMAIL.COM</a></li>
      </ul>
    </div>
  </div>
  <div data-v-11368c02="" class="footer__bottom">
    <div data-v-11368c02="" class="logo-c">
      <img data-v-11368c02="" src="{% static '/img/logo.17981fb7.png' %}" alt="">
    </div>
    <ul data-v-11368c02="" class="text_ul">
      <a data-v-11368c02="" href="#" onclick="return false;" target="_blank">moshen Exchange copyright @2019-2022</a>
    </ul>
  </div>
</div>
