{% extends 'main/base.html' %}

{% block content %}
<section data-v-0d3622a2="" class="app-main route_view route_pc">
    <div data-v-3cb585be="" data-v-0d3622a2="" class="home">
        <img data-v-3cb585be="" src="https://unicorn-oss.oss-ap-southeast-1.aliyuncs.com/img/mrpl/home_banner.png" alt="" class="home__banner" />
        <div data-v-3cb585be="" class="home__info">
            <div data-v-3cb585be="" class="home__info-func">
                <div data-v-6b70160e="" data-v-3cb585be="" class="info">
                    <div data-v-6b70160e="" class="info__title">JOIN OVER 1 MILLION PEOPLE THAT USE moshen TO ACCESS THE BEST NEW TOKENS BEFORE THEY LIST ON OTHER EXCHANGES</div>
                    <div data-v-6b70160e="" class="info__desc">Provide safe and reliable digital asset trading and asset management services for millions of users in more than 130 countries around the world</div>
                    <div data-v-6b70160e="" class="info__lists">
                        <div data-v-6b70160e="" class="info__lists-item">
                            <img data-v-6b70160e="" src="https://unicorn-oss.oss-ap-southeast-1.aliyuncs.com/img/mrpl/1.png" alt="" />
                            <p data-v-6b70160e="">FINANCIAL GRADE SECURITY</p>
                            <p data-v-6b70160e="">Comprehensive financial risk control system and anti-theft system, hot and cold wallet, multi-signature system to ensure the safety of funds</p>
                        </div>
                        <div data-v-6b70160e="" class="info__lists-item">
                            <img data-v-6b70160e="" src="https://unicorn-oss.oss-ap-southeast-1.aliyuncs.com/img/mrpl/2.png" alt="" />
                            <p data-v-6b70160e="">FAST DEPOSIT AND WITHDRAWAL</p>
                            <p data-v-6b70160e="">Deposits and withdrawals can be completed in 3 minutes as soon as possible, 24H manual online review, to protect customers from missing the best investment opportunities</p>
                        </div>
                        <div data-v-6b70160e="" class="info__lists-item">
                            <img data-v-6b70160e="" src="https://unicorn-oss.oss-ap-southeast-1.aliyuncs.com/img/mrpl/3.png" alt="" />
                            <p data-v-6b70160e="">GLOBAL SERVICE</p>
                            <p data-v-6b70160e="">Global business service network coverage to help you invest in global crypto assets and trade with global users</p>
                        </div>
                        <div data-v-6b70160e="" class="info__lists-item">
                            <img data-v-6b70160e="" src="https://unicorn-oss.oss-ap-southeast-1.aliyuncs.com/img/mrpl/4.png" alt="" />
                            <p data-v-6b70160e="">STRICTLY SELECTED ASSETS</p>
                            <p data-v-6b70160e="">Strictly select high-quality encrypted projects, and filter out 80% of extremely high-risk projects for you</p>
                        </div>
                    </div>
                </div>
            </div>
            <div data-v-3cb585be="" class="home__info-news">
                <div data-v-df51ee64="" data-v-3cb585be="" class="subs home__info-newc isPc">
                    <div data-v-df51ee64="" class="subs-title isPc">
                        <div data-v-df51ee64="" class="subs-title-t">ON THE CURRENT moshen PLATFORM</div>
                        <p data-v-df51ee64="" class="subs-title-c">
                            <span data-v-df51ee64="">Already distributed</span><span data-v-df51ee64="">5808</span><span data-v-df51ee64="">Actively participate in the new coins on the platform</span>
                        </p>
                    </div>
                    <div data-v-df51ee64="" class="subs-c">
                        <div data-v-df51ee64="" class="subs-item">
                            <div data-v-df51ee64="" class="subs-left isPc"><img data-v-df51ee64="" src="https://unicorn-oss.oss-ap-southeast-1.aliyuncs.com/img/other/1655952986328.png" alt="" /></div>
                            <div data-v-df51ee64="" class="subs-right">
                                <div data-v-df51ee64="" class="subs-right-item isPc"><span data-v-df51ee64="">NEOFI</span><span data-v-df51ee64="">2021-03-22</span></div>
                                <div data-v-df51ee64="" class="subs-right-item isPc"><span data-v-df51ee64="">0.052224 USDT</span><span data-v-df51ee64="" style="margin-top: 5px; color: transparent;">-</span></div>
                            </div>
                        </div>
                        <div data-v-df51ee64="" class="subs-item">
                            <div data-v-df51ee64="" class="subs-left isPc"><img data-v-df51ee64="" src="https://unicorn-oss.oss-ap-southeast-1.aliyuncs.com/img/other/1655953273961.png" alt="" /></div>
                            <div data-v-df51ee64="" class="subs-right">
                                <div data-v-df51ee64="" class="subs-right-item isPc"><span data-v-df51ee64="">MHUNT</span><span data-v-df51ee64="">2021-04-21</span></div>
                                <div data-v-df51ee64="" class="subs-right-item isPc"><span data-v-df51ee64="">0.125663 USDT</span><span data-v-df51ee64="" style="margin-top: 5px; color: transparent;">-</span></div>
                            </div>
                        </div>
                        <div data-v-df51ee64="" class="subs-item">
                            <div data-v-df51ee64="" class="subs-left isPc"><img data-v-df51ee64="" src="https://unicorn-oss.oss-ap-southeast-1.aliyuncs.com/img/other/1656087555736.png" alt="" /></div>
                            <div data-v-df51ee64="" class="subs-right">
                                <div data-v-df51ee64="" class="subs-right-item isPc"><span data-v-df51ee64="">QUANGE</span><span data-v-df51ee64="">2022-09-07</span></div>
                                <div data-v-df51ee64="" class="subs-right-item isPc"><span data-v-df51ee64="">36.178525 USDT</span><span data-v-df51ee64="" class="ratiok-normal ratio-upper-c" style="margin-top: 5px;">+2.45%</span></div>
                            </div>
                        </div>
                        <div data-v-df51ee64="" class="subs-item">
                            <div data-v-df51ee64="" class="subs-left isPc"><img data-v-df51ee64="" src="https://unicorn-oss.oss-ap-southeast-1.aliyuncs.com/img/other/1658680354844.png" alt="" /></div>
                            <div data-v-df51ee64="" class="subs-right">
                                <div data-v-df51ee64="" class="subs-right-item isPc"><span data-v-df51ee64="">XINT</span><span data-v-df51ee64="">2022-09-07</span></div>
                                <div data-v-df51ee64="" class="subs-right-item isPc"><span data-v-df51ee64="">8.32269 USDT</span><span data-v-df51ee64="" class="ratiok-normal ratio-upper-c" style="margin-top: 5px;">+2.74%</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'main/footer.html' %}
</section>

{% endblock %}
