{% extends 'main/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
<section data-v-0d3622a2="" class="app-main route_view route_pc">
    <div data-v-0d3622a2="" class="container">
        <div data-v-50279e12="" class="container">
            <div data-v-50279e12="" class="info">
                <div data-v-50279e12="" class="select">
                    <div data-v-17ad5dd2="" data-v-50279e12="" class="seg">
                        <div data-v-17ad5dd2="" class="seg__item seg__item-active"><span data-v-17ad5dd2="" class="seg__span seg__span-active">USDT</span></div>
                        <div data-v-17ad5dd2="" class="seg__item"><span data-v-17ad5dd2="" class="seg__span">BTC</span></div>
                        <div data-v-17ad5dd2="" class="seg__item"><span data-v-17ad5dd2="" class="seg__span">ETH</span></div>
                    </div>
                </div>
                <div data-v-50279e12="" class="coin">
                    <div data-v-50279e12="" class="classfity flex-c"><span data-v-50279e12="">Pair</span><span data-v-50279e12="">Latest</span><span data-v-50279e12="">Rate</span><span data-v-50279e12="">High</span><span data-v-50279e12="">Lower</span><span data-v-50279e12="">24H VOL</span><span data-v-50279e12="">Trend</span></div>
                    <div data-v-50279e12="" class="coin-item flex-c">
                        <p data-v-50279e12=""><span data-v-50279e12="" class="iconfont icon-star"></span><img data-v-50279e12="" src="https://unicorn-oss.oss-ap-southeast-1.aliyuncs.com/img/other/1640588513799.png" alt="" class="img-r"><span data-v-50279e12="">BTC</span></p>
                        <p data-v-50279e12="">19810.45</p>
                        <p data-v-50279e12=""><span data-v-50279e12="" class="ratio-normal-c ratio-lower-c">-2.68%</span></p>
                        <p data-v-50279e12="">20380.34</p>
                        <p data-v-50279e12="">19732.73</p>
                        <p data-v-50279e12="">80322679.59</p>
                        <div data-v-50279e12="">
                            <div data-v-dfbb42f2="" data-v-50279e12="" class="chart-container line">
                                <div data-v-dfbb42f2="" id="line100" class="" style="height: 100%; width: 120%; user-select: none;" _echarts_instance_="ec_1662205318839">
                                    <div style="position: relative; width: 213px; height: 65px; padding: 0px; margin: 0px; border-width: 0px; cursor: pointer;">
                                        <img style="position: absolute; left: 0px; top: 0px; width: 213px; height: 65px; user-select: none; padding: 0px; margin: 0px; border-width: 0px;" data-zr-dom-id="zr_0" width="213" height="65" src="{% static '/img/btc.png' %}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-v-50279e12="" class="coin-item flex-c">
                        <p data-v-50279e12=""><span data-v-50279e12="" class="iconfont icon-star"></span><img data-v-50279e12="" src="https://unicorn-oss.oss-ap-southeast-1.aliyuncs.com/img/other/1640588581664.png" alt="" class="img-r"><span data-v-50279e12="">ETH</span></p>
                        <p data-v-50279e12="">1553.06</p>
                        <p data-v-50279e12=""><span data-v-50279e12="" class="ratio-normal-c ratio-lower-c">-5.09%</span></p>
                        <p data-v-50279e12="">1639.09</p>
                        <p data-v-50279e12="">1534.12</p>
                        <p data-v-50279e12="">77130793.82</p>
                        <div data-v-50279e12="">
                            <div data-v-dfbb42f2="" data-v-50279e12="" class="chart-container line">
                                <div data-v-dfbb42f2="" id="line101" class="" style="height: 100%; width: 120%; user-select: none;" _echarts_instance_="ec_1662205318840">
                                    <div style="position: relative; width: 213px; height: 65px; padding: 0px; margin: 0px; border-width: 0px; cursor: pointer;">
                                        <img style="position: absolute; left: 0px; top: 0px; width: 213px; height: 65px; user-select: none; padding: 0px; margin: 0px; border-width: 0px;" data-zr-dom-id="zr_0" width="213" height="65" src="{% static '/img/eth.png' %}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-v-50279e12="" class="coin-item flex-c">
                        <p data-v-50279e12=""><span data-v-50279e12="" class="iconfont icon-star"></span><img data-v-50279e12="" src="https://unicorn-oss.oss-ap-southeast-1.aliyuncs.com/img/other/1640588610667.png" alt="" class="img-r"><span data-v-50279e12="">LTC</span></p>
                        <p data-v-50279e12="">60.45</p>
                        <p data-v-50279e12=""><span data-v-50279e12="" class="ratio-normal-c ratio-lower-c">-1.85%</span></p>
                        <p data-v-50279e12="">62.42</p>
                        <p data-v-50279e12="">59.54</p>
                        <p data-v-50279e12="">5877136.98</p>
                        <div data-v-50279e12="">
                            <div data-v-dfbb42f2="" data-v-50279e12="" class="chart-container line">
                                <div data-v-dfbb42f2="" id="line102" class="" style="height: 100%; width: 120%; user-select: none;" _echarts_instance_="ec_1662205318841">
                                    <div style="position: relative; width: 213px; height: 65px; padding: 0px; margin: 0px; border-width: 0px; cursor: pointer;">
                                        <img style="position: absolute; left: 0px; top: 0px; width: 213px; height: 65px; user-select: none; padding: 0px; margin: 0px; border-width: 0px;" data-zr-dom-id="zr_0" width="213" height="65" src="{% static '/img/ltc.png' %}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-v-50279e12="" class="coin-item flex-c">
                        <p data-v-50279e12=""><span data-v-50279e12="" class="iconfont icon-star"></span><img data-v-50279e12="" src="https://unicorn-oss.oss-ap-southeast-1.aliyuncs.com/img/other/1660493371552.png" alt="" class="img-r"><span data-v-50279e12="">KINGM</span></p>
                        <p data-v-50279e12="">0.600803</p>
                        <p data-v-50279e12=""><span data-v-50279e12="" class="ratio-normal-c ratio-upper-c">+13.41%</span></p>
                        <p data-v-50279e12="">0.611532</p>
                        <p data-v-50279e12="">0.521627</p>
                        <p data-v-50279e12="">2136219.10</p>
                        <div data-v-50279e12="">
                            <div data-v-dfbb42f2="" data-v-50279e12="" class="chart-container line">
                                <div data-v-dfbb42f2="" id="line104" class="" style="height: 100%; width: 120%; user-select: none;" _echarts_instance_="ec_1662205075853">
                                    <div style="position: relative; width: 213px; height: 65px; padding: 0px; margin: 0px; border-width: 0px;">
                                        <img style="position: absolute; left: 0px; top: 0px; width: 213px; height: 65px; user-select: none; padding: 0px; margin: 0px; border-width: 0px;" data-zr-dom-id="zr_0" width="213" height="65" src="{% static '/img/eos.png' %}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-v-50279e12="" class="coin-item flex-c">
                        <p data-v-50279e12=""><span data-v-50279e12="" class="iconfont icon-star"></span><img data-v-50279e12="" src="https://unicorn-oss.oss-ap-southeast-1.aliyuncs.com/img/other/1640588596096.png" alt="" class="img-r"><span data-v-50279e12="">EOS</span></p>
                        <p data-v-50279e12="">1.5361</p>
                        <p data-v-50279e12=""><span data-v-50279e12="" class="ratio-normal-c ratio-lower-c">-1.24%</span></p>
                        <p data-v-50279e12="">1.6004</p>
                        <p data-v-50279e12="">1.4844</p>
                        <p data-v-50279e12="">6053272.40</p>
                        <div data-v-50279e12="">
                            <div data-v-dfbb42f2="" data-v-50279e12="" class="chart-container line">
                                <div data-v-dfbb42f2="" id="line105" class="" style="height: 100%; width: 120%; user-select: none;" _echarts_instance_="ec_1662205318844">
                                    <div style="position: relative; width: 213px; height: 65px; padding: 0px; margin: 0px; border-width: 0px; cursor: default;">
                                        <img style="position: absolute; left: 0px; top: 0px; width: 213px; height: 65px; user-select: none; padding: 0px; margin: 0px; border-width: 0px;" data-zr-dom-id="zr_0" width="213" height="65" src="{% static '/img/kingm.png' %}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-v-50279e12="" class="coin-item flex-c">
                        <p data-v-50279e12=""><span data-v-50279e12="" class="iconfont icon-star"></span><img data-v-50279e12="" src="https://unicorn-oss.oss-ap-southeast-1.aliyuncs.com/img/other/1640589615362.png" alt="" class="img-r"><span data-v-50279e12="">ADA</span></p>
                        <p data-v-50279e12="">0.469329</p>
                        <p data-v-50279e12=""><span data-v-50279e12="" class="ratio-normal-c ratio-upper-c">+0.87%</span></p>
                        <p data-v-50279e12="">0.477702</p>
                        <p data-v-50279e12="">0.448602</p>
                        <p data-v-50279e12="">3821571.23</p>
                        <div data-v-50279e12="">
                            <div data-v-dfbb42f2="" data-v-50279e12="" class="chart-container line">
                                <div data-v-dfbb42f2="" id="line106" class="" style="height: 100%; width: 120%; user-select: none;" _echarts_instance_="ec_1662205318845">
                                    <div style="position: relative; width: 213px; height: 65px; padding: 0px; margin: 0px; border-width: 0px;">
                                        <img style="position: absolute; left: 0px; top: 0px; width: 213px; height: 65px; user-select: none; padding: 0px; margin: 0px; border-width: 0px;" data-zr-dom-id="zr_0" width="213" height="65" src="{% static '/img/ada.png' %}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-v-50279e12="" class="coin-item flex-c">
                        <p data-v-50279e12=""><span data-v-50279e12="" class="iconfont icon-star"></span><img data-v-50279e12="" src="https://unicorn-oss.oss-ap-southeast-1.aliyuncs.com/img/other/1640589597095.png" alt="" class="img-r"><span data-v-50279e12="">XRP</span></p>
                        <p data-v-50279e12="">0.32843</p>
                        <p data-v-50279e12=""><span data-v-50279e12="" class="ratio-normal-c ratio-lower-c">-0.63%</span></p>
                        <p data-v-50279e12="">0.33483</p>
                        <p data-v-50279e12="">0.3253</p>
                        <p data-v-50279e12="">6612041.38</p>
                        <div data-v-50279e12="">
                            <div data-v-dfbb42f2="" data-v-50279e12="" class="chart-container line">
                                <div data-v-dfbb42f2="" id="line107" class="" style="height: 100%; width: 120%; user-select: none;" _echarts_instance_="ec_1662205318846">
                                    <div style="position: relative; width: 213px; height: 65px; padding: 0px; margin: 0px; border-width: 0px; cursor: default;">
                                        <img style="position: absolute; left: 0px; top: 0px; width: 213px; height: 65px; user-select: none; padding: 0px; margin: 0px; border-width: 0px;" data-zr-dom-id="zr_0" width="213" height="65" src="{% static '/img/xrp.png' %}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-v-50279e12="" class="coin-item flex-c">
                        <p data-v-50279e12=""><span data-v-50279e12="" class="iconfont icon-star"></span><img data-v-50279e12="" src="https://unicorn-oss.oss-ap-southeast-1.aliyuncs.com/img/other/1640589623139.png" alt="" class="img-r"><span data-v-50279e12="">DOGE</span></p>
                        <p data-v-50279e12="">0.062262</p>
                        <p data-v-50279e12=""><span data-v-50279e12="" class="ratio-normal-c ratio-lower-c">-0.38%</span></p>
                        <p data-v-50279e12="">0.06403</p>
                        <p data-v-50279e12="">0.060685</p>
                        <p data-v-50279e12="">9207033.56</p>
                        <div data-v-50279e12="">
                            <div data-v-dfbb42f2="" data-v-50279e12="" class="chart-container line">
                                <div data-v-dfbb42f2="" id="line108" class="" style="height: 100%; width: 120%; user-select: none;" _echarts_instance_="ec_1662205318847">
                                    <div style="position: relative; width: 213px; height: 65px; padding: 0px; margin: 0px; border-width: 0px; cursor: default;">
                                        <img style="position: absolute; left: 0px; top: 0px; width: 213px; height: 65px; user-select: none; padding: 0px; margin: 0px; border-width: 0px;" src="{% static '/img/doge.png' %}" data-zr-dom-id="zr_0" width="213" height="65">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-v-50279e12="" class="coin-item flex-c">
                        <p data-v-50279e12=""><span data-v-50279e12="" class="iconfont icon-star"></span><img data-v-50279e12="" src="https://unicorn-oss.oss-ap-southeast-1.aliyuncs.com/img/other/1637111801143.png" alt="" class="img-r"><span data-v-50279e12="">SHIB</span></p>
                        <p data-v-50279e12="">0.00001225</p>
                        <p data-v-50279e12=""><span data-v-50279e12="" class="ratio-normal-c ratio-lower-c">-1.2%</span></p>
                        <p data-v-50279e12="">0.00001247</p>
                        <p data-v-50279e12="">0.00001201</p>
                        <p data-v-50279e12="">850715.58</p>
                        <div data-v-50279e12="">
                            <div data-v-dfbb42f2="" data-v-50279e12="" class="chart-container line">
                                <div data-v-dfbb42f2="" id="line109" class="" style="height: 100%; width: 120%; user-select: none;" _echarts_instance_="ec_1662205318848">
                                    <div style="position: relative; width: 213px; height: 65px; padding: 0px; margin: 0px; border-width: 0px;">
                                        <img style="position: absolute; left: 0px; top: 0px; width: 213px; height: 65px; user-select: none; padding: 0px; margin: 0px; border-width: 0px;" data-zr-dom-id="zr_0" width="213" height="65" src="{% static '/img/shib.png' %}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'main/footer.html' %}
</section>
{% endblock %}
