{% extends 'main/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
<section data-v-0d3622a2="" class="app-main route_view route_pc">
    <div data-v-0265716e="" data-v-0d3622a2="" class="container">
        <div data-v-0265716e="" class="h-action">
            <div data-v-17ad5dd2="" data-v-0265716e="" class="seg">
                <div data-v-17ad5dd2="" class="seg__item seg__item-active"><span data-v-17ad5dd2="" class="seg__span seg__span-active">Mining</span></div>
                <div data-v-17ad5dd2="" class="seg__item"><span data-v-17ad5dd2="" class="seg__span">Buyed</span></div>
            </div>
        </div>
        <div data-v-0265716e="" class="container__route">
            <div data-v-6e85a838="" data-v-0265716e="" class="container">
                <div data-v-6e85a838="" class="table" style="overflow: auto;">
                    <div data-v-6e85a838="" class="table__a">
                        <img data-v-6e85a838="" src="https://unicorn-oss.oss-ap-southeast-1.aliyuncs.com/img/other/1662139119645.png" alt="" class="p-img" />
                        <div data-v-6e85a838="" class="table__a-i">
                            <div data-v-6e85a838="" class="p-title">KINGM_07-1</div>
                            <div data-v-6e85a838="" class="p-container">
                                <div data-v-6e85a838="" class="i-item"><span data-v-6e85a838="">Day rate</span><span data-v-6e85a838="">0.18%</span></div>
                                <div data-v-6e85a838="" class="i-item"><span data-v-6e85a838="">cycle</span><span data-v-6e85a838="">7day</span></div>
                            </div>
                            <div data-v-6e85a838="" class="p-input" style="display: none;">
                                <div data-v-6e85a838="" class="p-input__desc"><span data-v-6e85a838="">Buy Quantity</span><span data-v-6e85a838=""></span></div>
                                <input data-v-6e85a838="" type="number" placeholder="Please enter the deposit amount" class="p-input-i" />
                                <div data-v-6e85a838="" class="p-input__desc"><span data-v-6e85a838="">Available</span><span data-v-6e85a838="">0</span></div>
                                <div data-v-6e85a838="" class="p-input__desc"><span data-v-6e85a838="">Purchase Limit</span><span data-v-6e85a838="">100~1999</span></div>
                            </div>
                            <button data-v-6e85a838="" type="button" class="el-button p-btn el-button--default">
                                <!----><!---->
                                <span>Mining</span>
                            </button>
                        </div>
                    </div>
                    <div data-v-6e85a838="" class="table__a">
                        <img data-v-6e85a838="" src="https://unicorn-oss.oss-ap-southeast-1.aliyuncs.com/img/other/1662139259741.png" alt="" class="p-img" />
                        <div data-v-6e85a838="" class="table__a-i">
                            <div data-v-6e85a838="" class="p-title">KINGM_07-2</div>
                            <div data-v-6e85a838="" class="p-container">
                                <div data-v-6e85a838="" class="i-item"><span data-v-6e85a838="">Day rate</span><span data-v-6e85a838="">0.22%</span></div>
                                <div data-v-6e85a838="" class="i-item"><span data-v-6e85a838="">cycle</span><span data-v-6e85a838="">7day</span></div>
                            </div>
                            <div data-v-6e85a838="" class="p-input" style="">
                                <div data-v-6e85a838="" class="p-input__desc"><span data-v-6e85a838="">Buy Quantity</span><span data-v-6e85a838=""></span></div>
                                <input data-v-6e85a838="" type="number" placeholder="Please enter the deposit amount" class="p-input-i" />
                                <div data-v-6e85a838="" class="p-input__desc"><span data-v-6e85a838="">Available</span><span data-v-6e85a838="">0</span></div>
                                <div data-v-6e85a838="" class="p-input__desc"><span data-v-6e85a838="">Purchase Limit</span><span data-v-6e85a838="">2000~4999</span></div>
                            </div>
                            <button data-v-6e85a838="" type="button" class="el-button p-btn el-button--default">
                                <!----><!---->
                                <span>Mining</span>
                                <div class="el-loading-mask" style="display: none;">
                                    <div class="el-loading-spinner">
                                        <svg viewBox="25 25 50 50" class="circular"><circle cx="50" cy="50" r="20" fill="none" class="path"></circle></svg>
                                        <!---->
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                    <div data-v-6e85a838="" class="table__a">
                        <img data-v-6e85a838="" src="https://unicorn-oss.oss-ap-southeast-1.aliyuncs.com/img/other/1662139346381.png" alt="" class="p-img" />
                        <div data-v-6e85a838="" class="table__a-i">
                            <div data-v-6e85a838="" class="p-title">KINGM_07-3</div>
                            <div data-v-6e85a838="" class="p-container">
                                <div data-v-6e85a838="" class="i-item"><span data-v-6e85a838="">Day rate</span><span data-v-6e85a838="">0.26%</span></div>
                                <div data-v-6e85a838="" class="i-item"><span data-v-6e85a838="">cycle</span><span data-v-6e85a838="">7day</span></div>
                            </div>
                            <div data-v-6e85a838="" class="p-input" style="display: none;">
                                <div data-v-6e85a838="" class="p-input__desc"><span data-v-6e85a838="">Buy Quantity</span><span data-v-6e85a838=""></span></div>
                                <input data-v-6e85a838="" type="number" placeholder="Please enter the deposit amount" class="p-input-i" />
                                <div data-v-6e85a838="" class="p-input__desc"><span data-v-6e85a838="">Available</span><span data-v-6e85a838="">0</span></div>
                                <div data-v-6e85a838="" class="p-input__desc"><span data-v-6e85a838="">Purchase Limit</span><span data-v-6e85a838="">5000~10000</span></div>
                            </div>
                            <button data-v-6e85a838="" type="button" class="el-button p-btn el-button--default">
                                <!----><!---->
                                <span>Mining</span>
                            </button>
                        </div>
                    </div>
                    <div data-v-6e85a838="" class="table__a">
                        <img data-v-6e85a838="" src="https://unicorn-oss.oss-ap-southeast-1.aliyuncs.com/img/other/1662139416647.png" alt="" class="p-img" />
                        <div data-v-6e85a838="" class="table__a-i">
                            <div data-v-6e85a838="" class="p-title">KINGM_30-1</div>
                            <div data-v-6e85a838="" class="p-container">
                                <div data-v-6e85a838="" class="i-item"><span data-v-6e85a838="">Day rate</span><span data-v-6e85a838="">0.32%</span></div>
                                <div data-v-6e85a838="" class="i-item"><span data-v-6e85a838="">cycle</span><span data-v-6e85a838="">30day</span></div>
                            </div>
                            <div data-v-6e85a838="" class="p-input" style="display: none;">
                                <div data-v-6e85a838="" class="p-input__desc"><span data-v-6e85a838="">Buy Quantity</span><span data-v-6e85a838=""></span></div>
                                <input data-v-6e85a838="" type="number" placeholder="Please enter the deposit amount" class="p-input-i" />
                                <div data-v-6e85a838="" class="p-input__desc"><span data-v-6e85a838="">Available</span><span data-v-6e85a838="">0</span></div>
                                <div data-v-6e85a838="" class="p-input__desc"><span data-v-6e85a838="">Purchase Limit</span><span data-v-6e85a838="">10000~29999</span></div>
                            </div>
                            <button data-v-6e85a838="" type="button" class="el-button p-btn el-button--default">
                                <!----><!---->
                                <span>Mining</span>
                            </button>
                        </div>
                    </div>
                    <div data-v-6e85a838="" class="table__a">
                        <img data-v-6e85a838="" src="https://unicorn-oss.oss-ap-southeast-1.aliyuncs.com/img/other/1662139555179.png" alt="" class="p-img" />
                        <div data-v-6e85a838="" class="table__a-i">
                            <div data-v-6e85a838="" class="p-title">KINGM_30-2</div>
                            <div data-v-6e85a838="" class="p-container">
                                <div data-v-6e85a838="" class="i-item"><span data-v-6e85a838="">Day rate</span><span data-v-6e85a838="">0.38%</span></div>
                                <div data-v-6e85a838="" class="i-item"><span data-v-6e85a838="">cycle</span><span data-v-6e85a838="">30day</span></div>
                            </div>
                            <div data-v-6e85a838="" class="p-input" style="display: none;">
                                <div data-v-6e85a838="" class="p-input__desc"><span data-v-6e85a838="">Buy Quantity</span><span data-v-6e85a838=""></span></div>
                                <input data-v-6e85a838="" type="number" placeholder="Please enter the deposit amount" class="p-input-i" />
                                <div data-v-6e85a838="" class="p-input__desc"><span data-v-6e85a838="">Available</span><span data-v-6e85a838="">0</span></div>
                                <div data-v-6e85a838="" class="p-input__desc"><span data-v-6e85a838="">Purchase Limit</span><span data-v-6e85a838="">30000~59999</span></div>
                            </div>
                            <button data-v-6e85a838="" type="button" class="el-button p-btn el-button--default">
                                <!----><!---->
                                <span>Mining</span>
                            </button>
                        </div>
                    </div>
                    <div data-v-6e85a838="" class="table__a">
                        <img data-v-6e85a838="" src="https://unicorn-oss.oss-ap-southeast-1.aliyuncs.com/img/other/1662139603826.png" alt="" class="p-img" />
                        <div data-v-6e85a838="" class="table__a-i">
                            <div data-v-6e85a838="" class="p-title">KINGM_30-3</div>
                            <div data-v-6e85a838="" class="p-container">
                                <div data-v-6e85a838="" class="i-item"><span data-v-6e85a838="">Day rate</span><span data-v-6e85a838="">0.44%</span></div>
                                <div data-v-6e85a838="" class="i-item"><span data-v-6e85a838="">cycle</span><span data-v-6e85a838="">30day</span></div>
                            </div>
                            <div data-v-6e85a838="" class="p-input" style="display: none;">
                                <div data-v-6e85a838="" class="p-input__desc"><span data-v-6e85a838="">Buy Quantity</span><span data-v-6e85a838=""></span></div>
                                <input data-v-6e85a838="" type="number" placeholder="Please enter the deposit amount" class="p-input-i" />
                                <div data-v-6e85a838="" class="p-input__desc"><span data-v-6e85a838="">Available</span><span data-v-6e85a838="">0</span></div>
                                <div data-v-6e85a838="" class="p-input__desc"><span data-v-6e85a838="">Purchase Limit</span><span data-v-6e85a838="">60000~100000</span></div>
                            </div>
                            <button data-v-6e85a838="" type="button" class="el-button p-btn el-button--default">
                                <!----><!---->
                                <span>Mining</span>
                            </button>
                        </div>
                    </div>
                    <div data-v-6e85a838="" class="table__a">
                        <img data-v-6e85a838="" src="https://unicorn-oss.oss-ap-southeast-1.aliyuncs.com/img/other/1662139687916.png" alt="" class="p-img" />
                        <div data-v-6e85a838="" class="table__a-i">
                            <div data-v-6e85a838="" class="p-title">KINGM_60-1</div>
                            <div data-v-6e85a838="" class="p-container">
                                <div data-v-6e85a838="" class="i-item"><span data-v-6e85a838="">Day rate</span><span data-v-6e85a838="">0.52%</span></div>
                                <div data-v-6e85a838="" class="i-item"><span data-v-6e85a838="">cycle</span><span data-v-6e85a838="">60day</span></div>
                            </div>
                            <div data-v-6e85a838="" class="p-input" style="display: none;">
                                <div data-v-6e85a838="" class="p-input__desc"><span data-v-6e85a838="">Buy Quantity</span><span data-v-6e85a838=""></span></div>
                                <input data-v-6e85a838="" type="number" placeholder="Please enter the deposit amount" class="p-input-i" />
                                <div data-v-6e85a838="" class="p-input__desc"><span data-v-6e85a838="">Available</span><span data-v-6e85a838="">0</span></div>
                                <div data-v-6e85a838="" class="p-input__desc"><span data-v-6e85a838="">Purchase Limit</span><span data-v-6e85a838="">20000~49999</span></div>
                            </div>
                            <button data-v-6e85a838="" type="button" class="el-button p-btn el-button--default">
                                <!----><!---->
                                <span>Mining</span>
                            </button>
                        </div>
                    </div>
                    <div data-v-6e85a838="" class="table__a">
                        <img data-v-6e85a838="" src="https://unicorn-oss.oss-ap-southeast-1.aliyuncs.com/img/other/1662139813451.png" alt="" class="p-img" />
                        <div data-v-6e85a838="" class="table__a-i">
                            <div data-v-6e85a838="" class="p-title">KINGM_60-2</div>
                            <div data-v-6e85a838="" class="p-container">
                                <div data-v-6e85a838="" class="i-item"><span data-v-6e85a838="">Day rate</span><span data-v-6e85a838="">0.62%</span></div>
                                <div data-v-6e85a838="" class="i-item"><span data-v-6e85a838="">cycle</span><span data-v-6e85a838="">60day</span></div>
                            </div>
                            <div data-v-6e85a838="" class="p-input" style="display: none;">
                                <div data-v-6e85a838="" class="p-input__desc"><span data-v-6e85a838="">Buy Quantity</span><span data-v-6e85a838=""></span></div>
                                <input data-v-6e85a838="" type="number" placeholder="Please enter the deposit amount" class="p-input-i" />
                                <div data-v-6e85a838="" class="p-input__desc"><span data-v-6e85a838="">Available</span><span data-v-6e85a838="">0</span></div>
                                <div data-v-6e85a838="" class="p-input__desc"><span data-v-6e85a838="">Purchase Limit</span><span data-v-6e85a838="">50000~99999</span></div>
                            </div>
                            <button data-v-6e85a838="" type="button" class="el-button p-btn el-button--default">
                                <!----><!---->
                                <span>Mining</span>
                            </button>
                        </div>
                    </div>
                    <div data-v-6e85a838="" class="table__a">
                        <img data-v-6e85a838="" src="https://unicorn-oss.oss-ap-southeast-1.aliyuncs.com/img/other/1662139891709.png" alt="" class="p-img" />
                        <div data-v-6e85a838="" class="table__a-i">
                            <div data-v-6e85a838="" class="p-title">KINGM_60-3</div>
                            <div data-v-6e85a838="" class="p-container">
                                <div data-v-6e85a838="" class="i-item"><span data-v-6e85a838="">Day rate</span><span data-v-6e85a838="">0.72%</span></div>
                                <div data-v-6e85a838="" class="i-item"><span data-v-6e85a838="">cycle</span><span data-v-6e85a838="">60day</span></div>
                            </div>
                            <div data-v-6e85a838="" class="p-input" style="display: none;">
                                <div data-v-6e85a838="" class="p-input__desc"><span data-v-6e85a838="">Buy Quantity</span><span data-v-6e85a838=""></span></div>
                                <input data-v-6e85a838="" type="number" placeholder="Please enter the deposit amount" class="p-input-i" />
                                <div data-v-6e85a838="" class="p-input__desc"><span data-v-6e85a838="">Available</span><span data-v-6e85a838="">0</span></div>
                                <div data-v-6e85a838="" class="p-input__desc"><span data-v-6e85a838="">Purchase Limit</span><span data-v-6e85a838="">100000~500000</span></div>
                            </div>
                            <button data-v-6e85a838="" type="button" class="el-button p-btn el-button--default">
                                <!----><!---->
                                <span>Mining</span>
                            </button>
                        </div>
                    </div>
                </div>
                <p data-v-6e85a838="" class="el-loading-footer-tip">No more</p>
            </div>
        </div>
    </div>
    {% include 'main/footer.html' %}
</section>
{% endblock %}
