{% extends 'main/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
<section data-v-0d3622a2="" class="app-main route_view route_pc">
    <div data-v-124a5fbd="" data-v-0d3622a2="" class="container">
        <div data-v-124a5fbd="" class="h-action">
            <div data-v-17ad5dd2="" data-v-124a5fbd="" class="seg">
                <div data-v-17ad5dd2="" class="seg__item seg__item-active">
                    <span data-v-17ad5dd2="" class="seg__span seg__span-active">Financial Management Products</span>
                </div>
                <div data-v-17ad5dd2="" class="seg__item">
                    <span data-v-17ad5dd2="" class="seg__span">My Order</span>
                </div>
            </div>
        </div>
        <div data-v-124a5fbd="" class="container__route">
            <div class="container min-h-small">
                <div data-v-4b50d9c2="" class="table" style="overflow: auto;">
                    <div data-v-4b50d9c2="" class="table__header">
                        <div data-v-4b50d9c2="" class="table__header-item">Product</div>
                        <div data-v-4b50d9c2="" class="table__header-item">Amount in Dollars</div>
                    </div>

                </div>
            </div>
            <div data-v-457be90f="" data-v-3d25ab46="" class="oper">
                <div data-v-457be90f="" class="oper__desc">
                    <div data-v-457be90f="" class="oper__desc-title">Trade</div>
                    <div data-v-457be90f="" class="oper__desc-tip">Deposit</div>
                </div>
                <div data-v-457be90f="" class="panel__oper-item">
                    <div data-v-457be90f="" class="input">
                        <form method="post">
                            {% csrf_token %}
                            <div data-v-457be90f="" class="input__item">
                                <i data-v-457be90f="" class="iconfont icon-num"></i>
                                <div data-v-457be90f="" class="input__item-i el-input-number is-without-controls">
                                    <div class="el-input">
                                        {{form.product|add_class:'el-input__inner'}}
                                    </div>
                                </div>
                            </div>
                            <div data-v-457be90f="" class="input__item">
                                <i data-v-457be90f="" class="iconfont icon-code"></i>
                                <div data-v-457be90f="" class="input__item-i el-input-number is-without-controls">
                                    <div class="el-input">
<!--                                        <input id="price" type="text" autocomplete="off" placeholder="Num" max="Infinity" min="0"-->
<!--                                               class="el-input__inner" role="spinbutton" aria-valuemax="Infinity"-->
<!--                                               aria-valuemin="0" aria-valuenow="0" aria-disabled="false"/>-->
                                        {{form.amount|add_class:'el-input__inner'}}
                                    </div>
                                </div>
                            </div>
                            <div data-v-457be90f="" class="input__item">
                                <i data-v-457be90f="" class="iconfont icon-amt"></i>
                                <div data-v-457be90f=""
                                     class="input__item-i el-input-number is-disabled is-without-controls">
                                    <div class="el-input is-disabled">
                                        <input id="amount" type="text" disabled="disabled" autocomplete="off" placeholder="Amount"
                                               max="Infinity" min="-Infinity" class="el-input__inner" role="spinbutton"
                                               aria-valuemax="Infinity" aria-valuemin="-Infinity" aria-valuenow="0"
                                               aria-disabled="true"/>
                                    </div>
                                </div>
                            </div>
                            <button id="buybtn" data-v-457be90f="" class="el-button input__btn input__buy el-button--default" type="button">Buy</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static '/js/prices.js' %}"></script>
    {% include 'main/footer.html' %}
</section>
{% endblock %}
