{% extends 'main/base.html' %}
{% load widget_tweaks %}
{% load static %}

    {% block content %}
<section data-v-0d3622a2="" class="app-main route_view route_pc">
    <div data-v-4789b864="" data-v-0d3622a2="" class="container">
        <div data-v-4789b864="" class="container__top">
            <div data-v-4789b864="" class="top-l">
                <div data-v-4a16c977="" data-v-4789b864="" class="panel">
                    <div data-v-4a16c977="" class="el-tabs el-tabs--center">
                        <div class="el-tabs__header is-center">
                            <div class="el-tabs__nav-wrap is-center">
                                <div class="el-tabs__nav-scroll">
                                    <div role="tablist" class="el-tabs__nav is-center" style="transform: translateY(0px);">
                                        <div class="el-tabs__active-bar is-center" style="height: 40px; transform: translateY(0px);"></div>
                                        <div id="tab-USDT" aria-controls="pane-USDT" role="tab" aria-selected="true" tabindex="0" class="el-tabs__item is-center is-active">USDT</div>
                                        <div id="tab-BTC" aria-controls="pane-BTC" role="tab" tabindex="-1" class="el-tabs__item is-center">BTC</div>
                                        <div id="tab-ETH" aria-controls="pane-ETH" role="tab" tabindex="-1" class="el-tabs__item is-center">ETH</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="el-tabs__content">
                            <div data-v-4a16c977="" role="tabpanel" id="pane-USDT" aria-labelledby="tab-USDT" class="el-tab-pane">
                                <div data-v-4a16c977="" class="panel__content">
                                    <ul data-v-4a16c977="">
                                        <li data-v-4a16c977="" style="padding: 8px 0px; line-height: 15px;"><span data-v-4a16c977="">Pair</span><span data-v-4a16c977="">Latest</span><span data-v-4a16c977="">Rate</span></li>
                                        <li data-v-4a16c977=""><span data-v-4a16c977="">BTC</span><span data-v-4a16c977="">19784.29</span><span data-v-4a16c977="" class="ratio-normal ratio-upper">+0.07%</span></li>
                                        <li data-v-4a16c977=""><span data-v-4a16c977="">ETH</span><span data-v-4a16c977="">1555.93</span><span data-v-4a16c977="" class="ratio-normal ratio-upper">+0.47%</span></li>
                                        <li data-v-4a16c977=""><span data-v-4a16c977="">LTC</span><span data-v-4a16c977="">60.12</span><span data-v-4a16c977="" class="ratio-normal ratio-lower">-0.72%</span></li>
                                        <li data-v-4a16c977=""><span data-v-4a16c977="">EOS</span><span data-v-4a16c977="">1.4823</span><span data-v-4a16c977="" class="ratio-normal ratio-lower">-2.43%</span></li>
                                        <li data-v-4a16c977=""><span data-v-4a16c977="">KINGM</span><span data-v-4a16c977="">0.652033</span><span data-v-4a16c977="" class="ratio-normal ratio-upper">+7.02%</span></li>
                                        <li data-v-4a16c977=""><span data-v-4a16c977="">ADA</span><span data-v-4a16c977="">0.496109</span><span data-v-4a16c977="" class="ratio-normal ratio-upper">+3.56%</span></li>
                                        <li data-v-4a16c977=""><span data-v-4a16c977="">XRP</span><span data-v-4a16c977="">0.32976</span><span data-v-4a16c977="" class="ratio-normal ratio-upper">+0.1%</span></li>
                                        <li data-v-4a16c977=""><span data-v-4a16c977="">DOGE</span><span data-v-4a16c977="">0.063183</span><span data-v-4a16c977="" class="ratio-normal ratio-upper">+0.83%</span></li>
                                        <li data-v-4a16c977=""><span data-v-4a16c977="">SHIB</span><span data-v-4a16c977="">0.00001318</span><span data-v-4a16c977="" class="ratio-normal ratio-upper">+7.59%</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div data-v-4a16c977="" role="tabpanel" aria-hidden="true" id="pane-BTC" aria-labelledby="tab-BTC" class="el-tab-pane" style="display: none;">
                                <div data-v-4a16c977="" class="panel__content">
                                    <ul data-v-4a16c977="">
                                        <li data-v-4a16c977="" style="padding: 8px 0px; line-height: 15px;"><span data-v-4a16c977="">Pair</span><span data-v-4a16c977="">Latest</span><span data-v-4a16c977="">Rate</span></li>
                                        <li data-v-4a16c977=""><span data-v-4a16c977="">BTC</span><span data-v-4a16c977="">19784.29</span><span data-v-4a16c977="" class="ratio-normal ratio-upper">+0.07%</span></li>
                                        <li data-v-4a16c977=""><span data-v-4a16c977="">ETH</span><span data-v-4a16c977="">1555.93</span><span data-v-4a16c977="" class="ratio-normal ratio-upper">+0.47%</span></li>
                                        <li data-v-4a16c977=""><span data-v-4a16c977="">LTC</span><span data-v-4a16c977="">60.12</span><span data-v-4a16c977="" class="ratio-normal ratio-lower">-0.72%</span></li>
                                        <li data-v-4a16c977=""><span data-v-4a16c977="">EOS</span><span data-v-4a16c977="">1.4823</span><span data-v-4a16c977="" class="ratio-normal ratio-lower">-2.43%</span></li>
                                        <li data-v-4a16c977=""><span data-v-4a16c977="">KINGM</span><span data-v-4a16c977="">0.652033</span><span data-v-4a16c977="" class="ratio-normal ratio-upper">+7.02%</span></li>
                                        <li data-v-4a16c977=""><span data-v-4a16c977="">ADA</span><span data-v-4a16c977="">0.496109</span><span data-v-4a16c977="" class="ratio-normal ratio-upper">+3.56%</span></li>
                                        <li data-v-4a16c977=""><span data-v-4a16c977="">XRP</span><span data-v-4a16c977="">0.32976</span><span data-v-4a16c977="" class="ratio-normal ratio-upper">+0.1%</span></li>
                                        <li data-v-4a16c977=""><span data-v-4a16c977="">DOGE</span><span data-v-4a16c977="">0.063183</span><span data-v-4a16c977="" class="ratio-normal ratio-upper">+0.83%</span></li>
                                        <li data-v-4a16c977=""><span data-v-4a16c977="">SHIB</span><span data-v-4a16c977="">0.00001318</span><span data-v-4a16c977="" class="ratio-normal ratio-upper">+7.59%</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div data-v-4a16c977="" role="tabpanel" aria-hidden="true" id="pane-ETH" aria-labelledby="tab-ETH" class="el-tab-pane" style="display: none;">
                                <div data-v-4a16c977="" class="panel__content">
                                    <ul data-v-4a16c977="">
                                        <li data-v-4a16c977="" style="padding: 8px 0px; line-height: 15px;"><span data-v-4a16c977="">Pair</span><span data-v-4a16c977="">Latest</span><span data-v-4a16c977="">Rate</span></li>
                                        <li data-v-4a16c977=""><span data-v-4a16c977="">BTC</span><span data-v-4a16c977="">19784.29</span><span data-v-4a16c977="" class="ratio-normal ratio-upper">+0.07%</span></li>
                                        <li data-v-4a16c977=""><span data-v-4a16c977="">ETH</span><span data-v-4a16c977="">1555.93</span><span data-v-4a16c977="" class="ratio-normal ratio-upper">+0.47%</span></li>
                                        <li data-v-4a16c977=""><span data-v-4a16c977="">LTC</span><span data-v-4a16c977="">60.12</span><span data-v-4a16c977="" class="ratio-normal ratio-lower">-0.72%</span></li>
                                        <li data-v-4a16c977=""><span data-v-4a16c977="">EOS</span><span data-v-4a16c977="">1.4823</span><span data-v-4a16c977="" class="ratio-normal ratio-lower">-2.43%</span></li>
                                        <li data-v-4a16c977=""><span data-v-4a16c977="">KINGM</span><span data-v-4a16c977="">0.652033</span><span data-v-4a16c977="" class="ratio-normal ratio-upper">+7.02%</span></li>
                                        <li data-v-4a16c977=""><span data-v-4a16c977="">ADA</span><span data-v-4a16c977="">0.496109</span><span data-v-4a16c977="" class="ratio-normal ratio-upper">+3.56%</span></li>
                                        <li data-v-4a16c977=""><span data-v-4a16c977="">XRP</span><span data-v-4a16c977="">0.32976</span><span data-v-4a16c977="" class="ratio-normal ratio-upper">+0.1%</span></li>
                                        <li data-v-4a16c977=""><span data-v-4a16c977="">DOGE</span><span data-v-4a16c977="">0.063183</span><span data-v-4a16c977="" class="ratio-normal ratio-upper">+0.83%</span></li>
                                        <li data-v-4a16c977=""><span data-v-4a16c977="">SHIB</span><span data-v-4a16c977="">0.00001318</span><span data-v-4a16c977="" class="ratio-normal ratio-upper">+7.59%</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-v-4789b864="" class="top-k mrg-l-3">
                <div data-v-582ed642="" data-v-4789b864="" class="panel">
                    <div data-v-582ed642="" class="panel__top">
                        <div data-v-582ed642="" class="panel__left ratio-upper">BTC / USDT</div>
                        <div data-v-582ed642="" class="panel__right">
                            <div data-v-582ed642="" class="panel__right-item"><span data-v-582ed642="" class="ratio-upper">19784.29</span><span data-v-582ed642="">Price</span></div>
                            <div data-v-582ed642="" class="panel__right-item"><span data-v-582ed642="" class="ratio-upper">+0.07%</span><span data-v-582ed642="">24H Rate</span></div>
                            <div data-v-582ed642="" class="panel__right-item"><span data-v-582ed642="" style="color: rgb(241, 241, 241);">19857.14</span><span data-v-582ed642="">24H high(USDT)</span></div>
                            <div data-v-582ed642="" class="panel__right-item"><span data-v-582ed642="" style="color: rgb(241, 241, 241);">19586.2</span><span data-v-582ed642="">24H low(USDT)</span></div>
                            <div data-v-582ed642="" class="panel__right-item"><span data-v-582ed642="" style="color: rgb(241, 241, 241);">51035071.19</span><span data-v-582ed642="">24H Deal(BTC)</span></div>
                        </div>
                    </div>
                    <div data-v-582ed642="" class="panel__bottom">
                        <div data-v-582ed642="" class="panel__left">
                            <button data-v-582ed642="" type="button" class="el-button time-btn el-button--default selected">
                                <!----><!---->
                                <span> 1M </span>
                            </button>
                            <button data-v-582ed642="" type="button" class="el-button time-btn el-button--default">
                                <!----><!---->
                                <span> 5M </span>
                            </button>
                            <button data-v-582ed642="" type="button" class="el-button time-btn el-button--default">
                                <!----><!---->
                                <span> 15M </span>
                            </button>
                            <button data-v-582ed642="" type="button" class="el-button time-btn el-button--default">
                                <!----><!---->
                                <span> 30M </span>
                            </button>
                            <button data-v-582ed642="" type="button" class="el-button time-btn el-button--default">
                                <!----><!---->
                                <span> 1D </span>
                            </button>
                        </div>
                        <div data-v-582ed642="" class="panel__right">
                            <span data-v-582ed642="" class="setting-s"><i data-v-582ed642="" class="iconfont icon-shezhi"></i></span>
                        </div>
                    </div>
                    <div data-v-582ed642="" class="el-dialog__wrapper" style="display: none;">
                        <div role="dialog" aria-modal="true" aria-label="Settings" class="el-dialog" style="margin-top: 15vh; width: 30%;">
                            <div class="el-dialog__header">
                                <span class="el-dialog__title">Settings</span><button type="button" aria-label="Close" class="el-dialog__headerbtn"><i class="el-dialog__close el-icon el-icon-close"></i></button>
                            </div>
                            <!----><!---->
                        </div>
                    </div>
                </div>
                <div data-v-728eebeb="" data-v-4789b864="" id="technical-indicator-k-line" class="k-line-chart" style="height: 510px;">
                    <div tabindex="1" style="user-select: none; -webkit-tap-highlight-color: transparent; position: relative; outline: none; border-style: none; width: 100%; cursor: crosshair;">
                        <div style="width: 100%; margin: 0px; padding: 0px; position: relative; overflow: hidden; height: 384px;">
                            <div style="margin: 0px; padding: 0px; position: absolute; top: 0px; overflow: hidden; left: 0px">
                                <img  src="{% static '/img/chart-second-top.png' %}">
                            </div>
                        </div>
                        <div style="margin: 0px; padding: 0px; position: relative; background-color: rgb(221, 221, 221); height: 1px; width: 100%;">
                            <div style="width: 100%; height: 7px; margin: 0px; padding: 0px; position: absolute; top: -3px; z-index: 20; cursor: ns-resize;"></div>
                        </div>
                        <div style="width: 100%; margin: 0px; padding: 0px; position: relative; overflow: hidden; height: 100px;">
                            <div style="margin: 0px; padding: 0px; position: absolute; top: 0px; overflow: hidden; left: 0px">
                                <img  src="{% static '/img/chart-second-bottom.png' %}">
                            </div>
                        </div>
                        <div style="width: 100%; margin: 0px; padding: 0px; position: relative; overflow: hidden; height: 25px;">
                            <div style="margin: 0px; padding: 0px; position: absolute; top: 0px; overflow: hidden; left: 0px; width: 1180px; height: 25px;">
                                <canvas width="1180" height="25" style="position: absolute; top: 0px; left: 0px; z-index: 2; width: 1180px; height: 25px;"></canvas>
                                <canvas width="1180" height="25" style="position: absolute; top: 0px; left: 0px; z-index: 2; width: 1180px; height: 25px;"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-v-4789b864="" class="top-p mrg-l-3">
                <div data-v-0f7c9e80="" data-v-4789b864="" class="panel">
                    <div data-v-0f7c9e80="" class="panel__title">Handicap</div>
                    <div data-v-0f7c9e80="" class="panel__desc"><span data-v-0f7c9e80="">Pos</span><span data-v-0f7c9e80="">Price</span><span data-v-0f7c9e80="">Num</span></div>
                    <ul data-v-0f7c9e80="" class="panel__top">
                        <li data-v-0f7c9e80="" class="panel__item"><span data-v-0f7c9e80="" style="color: rgb(204, 73, 81);">Sell 10</span><span data-v-0f7c9e80="">19785.72</span><span data-v-0f7c9e80="">0.024</span></li>
                        <li data-v-0f7c9e80="" class="panel__item"><span data-v-0f7c9e80="" style="color: rgb(204, 73, 81);">Sell 9</span><span data-v-0f7c9e80="">19785.53</span><span data-v-0f7c9e80="">0.488</span></li>
                        <li data-v-0f7c9e80="" class="panel__item"><span data-v-0f7c9e80="" style="color: rgb(204, 73, 81);">Sell 8</span><span data-v-0f7c9e80="">19785.52</span><span data-v-0f7c9e80="">0.28</span></li>
                        <li data-v-0f7c9e80="" class="panel__item"><span data-v-0f7c9e80="" style="color: rgb(204, 73, 81);">Sell 7</span><span data-v-0f7c9e80="">19785.49</span><span data-v-0f7c9e80="">1.2635</span></li>
                        <li data-v-0f7c9e80="" class="panel__item"><span data-v-0f7c9e80="" style="color: rgb(204, 73, 81);">Sell 6</span><span data-v-0f7c9e80="">19785.33</span><span data-v-0f7c9e80="">0.32</span></li>
                        <li data-v-0f7c9e80="" class="panel__item"><span data-v-0f7c9e80="" style="color: rgb(204, 73, 81);">Sell 5</span><span data-v-0f7c9e80="">19785.24</span><span data-v-0f7c9e80="">0.0979</span></li>
                        <li data-v-0f7c9e80="" class="panel__item"><span data-v-0f7c9e80="" style="color: rgb(204, 73, 81);">Sell 4</span><span data-v-0f7c9e80="">19785.13</span><span data-v-0f7c9e80="">0.1089</span></li>
                        <li data-v-0f7c9e80="" class="panel__item"><span data-v-0f7c9e80="" style="color: rgb(204, 73, 81);">Sell 3</span><span data-v-0f7c9e80="">19784.29</span><span data-v-0f7c9e80="">0.66</span></li>
                        <li data-v-0f7c9e80="" class="panel__item"><span data-v-0f7c9e80="" style="color: rgb(204, 73, 81);">Sell 2</span><span data-v-0f7c9e80="">19784.05</span><span data-v-0f7c9e80="">0.7581</span></li>
                        <li data-v-0f7c9e80="" class="panel__item"><span data-v-0f7c9e80="" style="color: rgb(204, 73, 81);">Sell 1</span><span data-v-0f7c9e80="">19783.53</span><span data-v-0f7c9e80="">2.0283</span></li>
                    </ul>
                    <div data-v-0f7c9e80="" class="panel__price"><span data-v-0f7c9e80="">19784.29</span><span data-v-0f7c9e80="">USDT</span></div>
                    <ul data-v-0f7c9e80="" class="panel__bottom">
                        <li data-v-0f7c9e80="" class="panel__item"><span data-v-0f7c9e80="" style="color: rgb(39, 176, 84);">Buy 1</span><span data-v-0f7c9e80="">19783.52</span><span data-v-0f7c9e80="">0.0106</span></li>
                        <li data-v-0f7c9e80="" class="panel__item"><span data-v-0f7c9e80="" style="color: rgb(39, 176, 84);">Buy 2</span><span data-v-0f7c9e80="">19783.5</span><span data-v-0f7c9e80="">0.0041</span></li>
                        <li data-v-0f7c9e80="" class="panel__item"><span data-v-0f7c9e80="" style="color: rgb(39, 176, 84);">Buy 3</span><span data-v-0f7c9e80="">19783.25</span><span data-v-0f7c9e80="">0.0677</span></li>
                        <li data-v-0f7c9e80="" class="panel__item"><span data-v-0f7c9e80="" style="color: rgb(39, 176, 84);">Buy 4</span><span data-v-0f7c9e80="">19782.87</span><span data-v-0f7c9e80="">0.01</span></li>
                        <li data-v-0f7c9e80="" class="panel__item"><span data-v-0f7c9e80="" style="color: rgb(39, 176, 84);">Buy 5</span><span data-v-0f7c9e80="">19782.76</span><span data-v-0f7c9e80="">0.0103</span></li>
                        <li data-v-0f7c9e80="" class="panel__item"><span data-v-0f7c9e80="" style="color: rgb(39, 176, 84);">Buy 6</span><span data-v-0f7c9e80="">19782.59</span><span data-v-0f7c9e80="">0.7582</span></li>
                        <li data-v-0f7c9e80="" class="panel__item"><span data-v-0f7c9e80="" style="color: rgb(39, 176, 84);">Buy 7</span><span data-v-0f7c9e80="">19782.01</span><span data-v-0f7c9e80="">0.0373</span></li>
                        <li data-v-0f7c9e80="" class="panel__item"><span data-v-0f7c9e80="" style="color: rgb(39, 176, 84);">Buy 8</span><span data-v-0f7c9e80="">19782</span><span data-v-0f7c9e80="">0.2</span></li>
                        <li data-v-0f7c9e80="" class="panel__item"><span data-v-0f7c9e80="" style="color: rgb(39, 176, 84);">Buy 9</span><span data-v-0f7c9e80="">19781.88</span><span data-v-0f7c9e80="">2.4151</span></li>
                        <li data-v-0f7c9e80="" class="panel__item"><span data-v-0f7c9e80="" style="color: rgb(39, 176, 84);">Buy 10</span><span data-v-0f7c9e80="">19781.51</span><span data-v-0f7c9e80="">0.05</span></li>
                    </ul>
                </div>
            </div>
            <div data-v-4789b864="" class="top-a mrg-l-3">
                <div data-v-4ff93630="" data-v-4789b864="" class="panel">
                    <div data-v-4ff93630="" class="panel__title">Full Transaction</div>
                    <div data-v-4ff93630="" class="panel__desc"><span data-v-4ff93630="">Time</span><span data-v-4ff93630="">Price</span><span data-v-4ff93630="">Num</span></div>
                    <ul data-v-4ff93630="" class="panel__top">
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(204, 73, 81);">
                            <span data-v-4ff93630="">03:30:54</span><span data-v-4ff93630="" style="margin-right: 10px;">19779.41</span><span data-v-4ff93630="">0.0001</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(39, 176, 84);">
                            <span data-v-4ff93630="">03:30:54</span><span data-v-4ff93630="" style="margin-right: 10px;">19779.42</span><span data-v-4ff93630="">0.0001</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(39, 176, 84);">
                            <span data-v-4ff93630="">03:30:54</span><span data-v-4ff93630="" style="margin-right: 10px;">19779.42</span><span data-v-4ff93630="">0.0001</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(204, 73, 81);">
                            <span data-v-4ff93630="">03:30:54</span><span data-v-4ff93630="" style="margin-right: 10px;">19779.41</span><span data-v-4ff93630="">0.0001</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(39, 176, 84);">
                            <span data-v-4ff93630="">03:30:54</span><span data-v-4ff93630="" style="margin-right: 10px;">19779.42</span><span data-v-4ff93630="">0.0001</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(204, 73, 81);">
                            <span data-v-4ff93630="">03:30:54</span><span data-v-4ff93630="" style="margin-right: 10px;">19779.41</span><span data-v-4ff93630="">0.0001</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(39, 176, 84);">
                            <span data-v-4ff93630="">03:30:53</span><span data-v-4ff93630="" style="margin-right: 10px;">19779.42</span><span data-v-4ff93630="">0.0010</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(39, 176, 84);">
                            <span data-v-4ff93630="">03:30:52</span><span data-v-4ff93630="" style="margin-right: 10px;">19779.42</span><span data-v-4ff93630="">0.0001</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(204, 73, 81);">
                            <span data-v-4ff93630="">03:30:52</span><span data-v-4ff93630="" style="margin-right: 10px;">19779.41</span><span data-v-4ff93630="">0.0001</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(39, 176, 84);">
                            <span data-v-4ff93630="">03:30:52</span><span data-v-4ff93630="" style="margin-right: 10px;">19779.42</span><span data-v-4ff93630="">0.0001</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(204, 73, 81);">
                            <span data-v-4ff93630="">03:30:52</span><span data-v-4ff93630="" style="margin-right: 10px;">19779.41</span><span data-v-4ff93630="">0.0001</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(39, 176, 84);">
                            <span data-v-4ff93630="">03:30:52</span><span data-v-4ff93630="" style="margin-right: 10px;">19779.42</span><span data-v-4ff93630="">0.0001</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(204, 73, 81);">
                            <span data-v-4ff93630="">03:30:52</span><span data-v-4ff93630="" style="margin-right: 10px;">19779.41</span><span data-v-4ff93630="">0.0024</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(204, 73, 81);">
                            <span data-v-4ff93630="">03:30:52</span><span data-v-4ff93630="" style="margin-right: 10px;">19779.41</span><span data-v-4ff93630="">0.0058</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(204, 73, 81);">
                            <span data-v-4ff93630="">03:30:52</span><span data-v-4ff93630="" style="margin-right: 10px;">19779.41</span><span data-v-4ff93630="">0.0001</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(39, 176, 84);">
                            <span data-v-4ff93630="">03:30:51</span><span data-v-4ff93630="" style="margin-right: 10px;">19779.42</span><span data-v-4ff93630="">0.0001</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(204, 73, 81);">
                            <span data-v-4ff93630="">03:30:51</span><span data-v-4ff93630="" style="margin-right: 10px;">19779.41</span><span data-v-4ff93630="">0.0001</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(39, 176, 84);">
                            <span data-v-4ff93630="">03:30:51</span><span data-v-4ff93630="" style="margin-right: 10px;">19779.42</span><span data-v-4ff93630="">0.0001</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(204, 73, 81);">
                            <span data-v-4ff93630="">03:30:51</span><span data-v-4ff93630="" style="margin-right: 10px;">19779.41</span><span data-v-4ff93630="">0.0001</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(39, 176, 84);">
                            <span data-v-4ff93630="">03:30:51</span><span data-v-4ff93630="" style="margin-right: 10px;">19779.42</span><span data-v-4ff93630="">0.0001</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(204, 73, 81);">
                            <span data-v-4ff93630="">03:30:51</span><span data-v-4ff93630="" style="margin-right: 10px;">19779.41</span><span data-v-4ff93630="">0.0001</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(39, 176, 84);">
                            <span data-v-4ff93630="">03:30:51</span><span data-v-4ff93630="" style="margin-right: 10px;">19779.42</span><span data-v-4ff93630="">0.0001</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(204, 73, 81);">
                            <span data-v-4ff93630="">03:30:51</span><span data-v-4ff93630="" style="margin-right: 10px;">19779.41</span><span data-v-4ff93630="">0.0001</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(204, 73, 81);">
                            <span data-v-4ff93630="">03:30:51</span><span data-v-4ff93630="" style="margin-right: 10px;">19779.41</span><span data-v-4ff93630="">0.0003</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(39, 176, 84);">
                            <span data-v-4ff93630="">03:30:51</span><span data-v-4ff93630="" style="margin-right: 10px;">19779.42</span><span data-v-4ff93630="">0.0001</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(204, 73, 81);">
                            <span data-v-4ff93630="">03:30:51</span><span data-v-4ff93630="" style="margin-right: 10px;">19779.41</span><span data-v-4ff93630="">0.0001</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(204, 73, 81);">
                            <span data-v-4ff93630="">03:30:51</span><span data-v-4ff93630="" style="margin-right: 10px;">19779.42</span><span data-v-4ff93630="">0.0101</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(204, 73, 81);">
                            <span data-v-4ff93630="">03:30:51</span><span data-v-4ff93630="" style="margin-right: 10px;">19779.42</span><span data-v-4ff93630="">0.0144</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(39, 176, 84);">
                            <span data-v-4ff93630="">03:30:51</span><span data-v-4ff93630="" style="margin-right: 10px;">19780.41</span><span data-v-4ff93630="">0.0001</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(204, 73, 81);">
                            <span data-v-4ff93630="">03:30:51</span><span data-v-4ff93630="" style="margin-right: 10px;">19780.4</span><span data-v-4ff93630="">0.0008</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(204, 73, 81);">
                            <span data-v-4ff93630="">03:30:51</span><span data-v-4ff93630="" style="margin-right: 10px;">19780.4</span><span data-v-4ff93630="">0.0001</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(39, 176, 84);">
                            <span data-v-4ff93630="">03:30:51</span><span data-v-4ff93630="" style="margin-right: 10px;">19780.41</span><span data-v-4ff93630="">0.0001</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(204, 73, 81);">
                            <span data-v-4ff93630="">03:30:51</span><span data-v-4ff93630="" style="margin-right: 10px;">19780.4</span><span data-v-4ff93630="">0.0001</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(39, 176, 84);">
                            <span data-v-4ff93630="">03:30:50</span><span data-v-4ff93630="" style="margin-right: 10px;">19780.41</span><span data-v-4ff93630="">0.0033</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(204, 73, 81);">
                            <span data-v-4ff93630="">03:30:50</span><span data-v-4ff93630="" style="margin-right: 10px;">19780.4</span><span data-v-4ff93630="">0.0010</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(204, 73, 81);">
                            <span data-v-4ff93630="">03:30:50</span><span data-v-4ff93630="" style="margin-right: 10px;">19780.4</span><span data-v-4ff93630="">0.0020</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(204, 73, 81);">
                            <span data-v-4ff93630="">03:30:50</span><span data-v-4ff93630="" style="margin-right: 10px;">19780.4</span><span data-v-4ff93630="">0.0059</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(39, 176, 84);">
                            <span data-v-4ff93630="">03:30:48</span><span data-v-4ff93630="" style="margin-right: 10px;">19780.41</span><span data-v-4ff93630="">0.0017</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(204, 73, 81);">
                            <span data-v-4ff93630="">03:30:46</span><span data-v-4ff93630="" style="margin-right: 10px;">19780.4</span><span data-v-4ff93630="">0.0016</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(204, 73, 81);">
                            <span data-v-4ff93630="">03:30:45</span><span data-v-4ff93630="" style="margin-right: 10px;">19780.4</span><span data-v-4ff93630="">0.0119</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(204, 73, 81);">
                            <span data-v-4ff93630="">03:30:45</span><span data-v-4ff93630="" style="margin-right: 10px;">19780.4</span><span data-v-4ff93630="">0.0133</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(204, 73, 81);">
                            <span data-v-4ff93630="">03:30:45</span><span data-v-4ff93630="" style="margin-right: 10px;">19780.4</span><span data-v-4ff93630="">0.0038</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(204, 73, 81);">
                            <span data-v-4ff93630="">03:30:42</span><span data-v-4ff93630="" style="margin-right: 10px;">19780.4</span><span data-v-4ff93630="">0.0006</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(39, 176, 84);">
                            <span data-v-4ff93630="">03:30:41</span><span data-v-4ff93630="" style="margin-right: 10px;">19780.41</span><span data-v-4ff93630="">0.0006</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(39, 176, 84);">
                            <span data-v-4ff93630="">03:30:41</span><span data-v-4ff93630="" style="margin-right: 10px;">19780.41</span><span data-v-4ff93630="">0.0003</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(39, 176, 84);">
                            <span data-v-4ff93630="">03:30:40</span><span data-v-4ff93630="" style="margin-right: 10px;">19780.9</span><span data-v-4ff93630="">0.0014</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(204, 73, 81);">
                            <span data-v-4ff93630="">03:30:40</span><span data-v-4ff93630="" style="margin-right: 10px;">19781.96</span><span data-v-4ff93630="">0.4300</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(204, 73, 81);">
                            <span data-v-4ff93630="">03:30:40</span><span data-v-4ff93630="" style="margin-right: 10px;">19781.96</span><span data-v-4ff93630="">0.0100</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(204, 73, 81);">
                            <span data-v-4ff93630="">03:30:40</span><span data-v-4ff93630="" style="margin-right: 10px;">19781.96</span><span data-v-4ff93630="">0.0100</span>
                        </li>
                        <li data-v-4ff93630="" class="panel__item" style="color: rgb(39, 176, 84);">
                            <span data-v-4ff93630="">03:30:40</span><span data-v-4ff93630="" style="margin-right: 10px;">19782.17</span><span data-v-4ff93630="">0.0020</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div data-v-4789b864="" class="container__bottom">
            <div data-v-4789b864="" class="bottom-l">
                <div data-v-ebd60e42="" data-v-4789b864="" class="container">
                    <div data-v-ebd60e42="" class="total">
                        <span data-v-ebd60e42="" class="select">
                            <button data-v-ebd60e42="" type="button" class="el-button select_btn el-button--default selected">
                                <!----><!---->
                                <span>Current Delegate</span>
                            </button>
                            <button data-v-ebd60e42="" type="button" class="el-button select_btn el-button--default">
                                <!----><!---->
                                <span>History Delegate</span>
                            </button>
                        </span>
                    </div>
                    <div data-v-ebd60e42="" class="assert">
                        <ul data-v-ebd60e42="" id="pTable" style="overflow: auto;">
                            <li data-v-ebd60e42="" class="pHeader">
                                <span data-v-ebd60e42="">Pair</span><span data-v-ebd60e42="">Open time</span><span data-v-ebd60e42="">Order Status</span><span data-v-ebd60e42="">Buy quantity(BTC)</span>
                                <span data-v-ebd60e42="">Position amount</span>
                                <!---->
                                <span data-v-ebd60e42="">Holding time</span>
                                <!----><!---->
                            </li>
                            <p data-v-ebd60e42="" class="el-loading-footer-tip">Load more</p>
                        </ul>
                    </div>
                </div>
            </div>
            <div data-v-4789b864="" class="bottom-r mrg-l-3">
                <div data-v-4df63c8e="" data-v-4789b864="" class="oper">
                    <div data-v-4df63c8e="" class="oper__desc">
                        <div data-v-4df63c8e="" class="oper__desc-title">Second Contract</div>
                        <div data-v-4df63c8e="" class="oper__desc-tip">Deposit</div>
                    </div>
                    <div data-v-4df63c8e="" class="oper__action">
                        <button data-v-4df63c8e="" type="button" class="el-button oper__action-btn el-button--default buy-selected">
                            <!----><!---->
                            <span>Up BTC</span>
                        </button>
                        <button data-v-4df63c8e="" type="button" class="el-button oper__action-btn el-button--default">
                            <!----><!---->
                            <span>Down BTC</span>
                        </button>
                    </div>
                    <div data-v-4df63c8e="" class="panel__oper-item">
                        <div data-v-4df63c8e="" class="input">
                            <div data-v-4df63c8e="" class="input__desc"><span data-v-4df63c8e="">Open time </span><span data-v-4df63c8e=""></span></div>
                            <div data-v-4df63c8e="" class="input__seconds" style="margin-top: 3px;">
                                <div data-v-3b7e23b8="" data-v-4df63c8e="" class="cons">
                                    <ul data-v-3b7e23b8="" class="cons-items">
                                        <li data-v-51b05b2a="" data-v-4df63c8e="" class="tab light light-active" data-v-3b7e23b8="">
                                            <div data-v-51b05b2a="" class="desc-t">Time</div>
                                            <div data-v-51b05b2a="" class="value-t"><span data-v-51b05b2a="">30</span><span data-v-51b05b2a="">s</span></div>
                                        </li>
                                        <li data-v-51b05b2a="" data-v-4df63c8e="" class="tab light" data-v-3b7e23b8="">
                                            <div data-v-51b05b2a="" class="desc-t">Time</div>
                                            <div data-v-51b05b2a="" class="value-t"><span data-v-51b05b2a="">60</span><span data-v-51b05b2a="">s</span></div>
                                        </li>
                                        <li data-v-51b05b2a="" data-v-4df63c8e="" class="tab light" data-v-3b7e23b8="">
                                            <div data-v-51b05b2a="" class="desc-t">Time</div>
                                            <div data-v-51b05b2a="" class="value-t"><span data-v-51b05b2a="">120</span><span data-v-51b05b2a="">s</span></div>
                                        </li>
                                        <li data-v-51b05b2a="" data-v-4df63c8e="" class="tab light" data-v-3b7e23b8="">
                                            <div data-v-51b05b2a="" class="desc-t">Time</div>
                                            <div data-v-51b05b2a="" class="value-t"><span data-v-51b05b2a="">200</span><span data-v-51b05b2a="">s</span></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div data-v-4df63c8e="" class="input__desc" style="margin-top: 20px;"><span data-v-4df63c8e="">Position amount </span><span data-v-4df63c8e=""></span></div>
                            <div data-v-4df63c8e="" class="input__item" style="margin-top: 10px;">
                                <i data-v-4df63c8e="" class="iconfont icon-amt"></i>
                                <div data-v-4df63c8e="" class="input__item-i el-input-number is-without-controls">
                                    <!----><!---->
                                    <div class="el-input">
                                        <!---->
                                        <input
                                            type="text"
                                            autocomplete="off"
                                            placeholder="Enter the opening amount"
                                            max="Infinity"
                                            min="0"
                                            class="el-input__inner"
                                            role="spinbutton"
                                            aria-valuemax="Infinity"
                                            aria-valuemin="0"
                                            aria-valuenow="0"
                                            aria-disabled="false"
                                        />
                                        <!----><!----><!----><!---->
                                    </div>
                                </div>
                                <button data-v-4df63c8e="" type="button" class="el-button item-btn el-button--default">
                                    <!----><!---->
                                    <span>USDT</span>
                                </button>
                            </div>
                            <div data-v-4df63c8e="" class="input__desc" style="margin-top: 20px;"><span data-v-4df63c8e="">Available USDT: </span><span data-v-4df63c8e="">0</span></div>
                            <div data-v-4df63c8e="" class="input__desc"><span data-v-4df63c8e="">Profit rate </span><span data-v-4df63c8e="">70%</span></div>
                            <div data-v-4df63c8e="" class="input__desc"><span data-v-4df63c8e="">Fees </span><span data-v-4df63c8e="">0.1%</span></div>
                            <div data-v-4df63c8e="" class="input__desc"><span data-v-4df63c8e="">Minimum limit </span><span data-v-4df63c8e="">10USDT</span></div>
                            <a href="/login" data-v-4df63c8e="" type="button" class="el-button input__btn input__buy el-button--default">
                                <!----><!---->
                                <span><i data-v-4df63c8e="" class="iconfont iconf-feiji"></i> <span data-v-4df63c8e="">login</span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-v-d1adfe3a="" data-v-4789b864="" class="ys-float-btn" style="width: 80px; height: 80px; left: 1137px; top: 669px; display: none;">
            <div data-v-d1adfe3a="" class="ys-container">
                <p data-v-d1adfe3a="">Counter</p>
                <p data-v-d1adfe3a=""><span data-v-d1adfe3a="">0</span><span data-v-d1adfe3a="" style="font-size: 12px; font-weight: 400;">s</span></p>
                <p data-v-d1adfe3a="">finish</p>
            </div>
        </div>
    </div>
    {% include 'main/footer.html' %}
</section>
{% endblock %}
