{% extends 'main/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
<section data-v-0d3622a2="" class="app-main route_view route_pc">
    <div data-v-6069c7e8="" data-v-0d3622a2="" class="container">
        <div data-v-6069c7e8="" class="h-action">
            <div data-v-17ad5dd2="" data-v-6069c7e8="" class="seg">
                <div data-v-17ad5dd2="" class="seg__item seg__item-active"><span data-v-17ad5dd2="" class="seg__span seg__span-active">New currency</span></div>
                <div data-v-17ad5dd2="" class="seg__item"><span data-v-17ad5dd2="" class="seg__span">Subscription</span></div>
            </div>
        </div>
        <div data-v-6069c7e8="" class="container__route">
            <div data-v-4253ec34="" data-v-6069c7e8="" class="container">
                <div data-v-4253ec34="" class="info">
                    <div data-v-4253ec34="" class="info__title">PROJECTS OPEN NOW</div>
                    <div data-v-4253ec34="" element-loading-text="loading..." element-loading-spinner="el-icon-loading" element-loading-background="rgba(0, 0, 0, 0.4)" class="info__list">
                        <div data-v-3b96d212="" data-v-4253ec34="" class="item info__list-item isPc">
                            <div data-v-3b96d212="" class="item__top">
                                <div data-v-3d01edac="" data-v-3b96d212="" class="icon">
                                    <div data-v-3d01edac="" class="icon__logo"><img data-v-3d01edac="" src="https://unicorn-oss.oss-ap-southeast-1.aliyuncs.com/img/other/1660493371552.png" alt="" /></div>
                                    <div data-v-3d01edac="" class="icon__info isPc">
                                        <span data-v-3d01edac="">KINGM</span>
                                        <div data-v-e6dbb7ac="" data-v-3d01edac="" class="link" style="padding-bottom: 5px; display: none;">
                                            <div data-v-e6dbb7ac="" class="link__info detail"><!----><!----><!----><!----></div>
                                            <div data-v-e6dbb7ac="" class="link__time" style="display: none;"><span data-v-e6dbb7ac="">End date</span><span data-v-e6dbb7ac=""></span></div>
                                        </div>
                                        <span data-v-3d01edac="" class="icon__info-label">USDT</span>
                                        <div data-v-3d01edac="" class="icon__info-status isOpen"><span data-v-3d01edac=""></span><span data-v-3d01edac="">Open</span></div>
                                    </div>
                                </div>
                                <div data-v-e6dbb7ac="" data-v-3b96d212="" class="link">
                                    <div data-v-e6dbb7ac="" class="link__info"><!----><!----><!----><!----></div>
                                    <div data-v-e6dbb7ac="" class="link__time"><span data-v-e6dbb7ac="">End date</span><span data-v-e6dbb7ac="">2022-11-13</span></div>
                                </div>
                            </div>
                            <div data-v-3b96d212="" class="item__desc isPc">
                                KINGM is the first open protocol to support the future of digital assets, supported by non-replaceable tokens. KINGM is able to create, own and verify unique assets on the blockchain. The Moshen protocol
                                provides tools to build powerful Dapps designed to easily verify and manage digital or real tangible assets (such as ids, educational certificates, in-game items or houses) on the blockchain. KINGM is
                                practical and plays a key role in the KINGM Platform infrastructure. Can be used to support Dapps built on top of the Moshen protocol with a low cost of formalities. In addition, the Moshen protocol provides
                                the irreplaceable token KINGM, which also bears the stamp of an asset. With token KINGM, we can verify the existence, authenticity and ownership of these digital assets without the involvement of a third
                                party.
                            </div>
                            <div data-v-3b96d212="" class="item__s isPc">
                                <div data-v-3b96d212="" class="item__s-i" style="align-items: flex-start;"><span data-v-3b96d212="">Issued</span><span data-v-3b96d212="">200000000</span></div>
                                <div data-v-3b96d212="" class="item__s-i"><span data-v-3b96d212="">Participating</span><span data-v-3b96d212="">79955437</span></div>
                                <div data-v-3b96d212="" class="item__s-i" style="align-items: flex-end;"><span data-v-3b96d212="">Period</span><span data-v-3b96d212="">90day</span></div>
                            </div>
                            <div data-v-4638519f="" data-v-3b96d212="" class="p">
                                <div data-v-4638519f="" class="p__pro">
                                    <div data-v-4638519f="" class="p__pro-d">Subscription Amount</div>
                                    <div data-v-4638519f="" role="progressbar" aria-valuenow="39.98" aria-valuemin="0" aria-valuemax="100" class="el-progress el-progress--line el-progress--without-text el-progress--text-inside">
                                        <div class="el-progress-bar">
                                            <div class="el-progress-bar__outer" style="height: 10px;">
                                                <div class="el-progress-bar__inner" style="width: 39.98%; background-color: rgb(240, 185, 10);"><!----></div>
                                            </div>
                                        </div>
                                        <!---->
                                    </div>
                                </div>
                                <div data-v-4638519f="" class="p__x"><span data-v-4638519f="">39.98%</span><span data-v-4638519f="">79955437/200000000</span></div>
                            </div>
                        </div>
                        <!---->
                        <div class="el-loading-mask" style="background-color: rgba(0, 0, 0, 0.4); display: none;">
                            <div class="el-loading-spinner">
                                <i class="el-icon-loading"></i>
                                <p class="el-loading-text">loading...</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-v-4253ec34="" class="info">
                    <div data-v-4253ec34="" class="info__title">PROJECTS CLOSED</div>
                    <div data-v-4253ec34="" element-loading-text="loading..." element-loading-spinner="el-icon-loading" element-loading-background="rgba(0, 0, 0, 0.4)" class="info__list">
                        <div data-v-3b96d212="" data-v-4253ec34="" class="item info__list-item isPc">
                            <div data-v-3b96d212="" class="item__top">
                                <div data-v-3d01edac="" data-v-3b96d212="" class="icon">
                                    <div data-v-3d01edac="" class="icon__logo"><img data-v-3d01edac="" src="https://unicorn-oss.oss-ap-southeast-1.aliyuncs.com/img/other/1660873692537.png" alt="" /></div>
                                    <div data-v-3d01edac="" class="icon__info isPc">
                                        <span data-v-3d01edac="">PS1</span>
                                        <div data-v-e6dbb7ac="" data-v-3d01edac="" class="link" style="padding-bottom: 5px; display: none;">
                                            <div data-v-e6dbb7ac="" class="link__info detail"><!----><!----><!----><!----></div>
                                            <div data-v-e6dbb7ac="" class="link__time" style="display: none;"><span data-v-e6dbb7ac="">End date</span><span data-v-e6dbb7ac=""></span></div>
                                        </div>
                                        <span data-v-3d01edac="" class="icon__info-label">USDT</span>
                                        <div data-v-3d01edac="" class="icon__info-status isClose"><span data-v-3d01edac=""></span><span data-v-3d01edac="">Closed</span></div>
                                    </div>
                                </div>
                                <div data-v-e6dbb7ac="" data-v-3b96d212="" class="link">
                                    <div data-v-e6dbb7ac="" class="link__info"><!----><!----><!----><!----></div>
                                    <div data-v-e6dbb7ac="" class="link__time"><span data-v-e6dbb7ac="">End date</span><span data-v-e6dbb7ac="">2022-08-19</span></div>
                                </div>
                            </div>
                            <div data-v-3b96d212="" class="item__desc isPc">Polysports is the World's 1st Sports NFT marketplace and fantasy Sports Metaverse</div>
                            <div data-v-3b96d212="" class="item__s isPc">
                                <div data-v-3b96d212="" class="item__s-i" style="align-items: flex-start;"><span data-v-3b96d212="">Issued</span><span data-v-3b96d212="">100000</span></div>
                                <div data-v-3b96d212="" class="item__s-i"><span data-v-3b96d212="">Participating</span><span data-v-3b96d212="">100000</span></div>
                                <div data-v-3b96d212="" class="item__s-i" style="align-items: flex-end;"><span data-v-3b96d212="">Period</span><span data-v-3b96d212="">60day</span></div>
                            </div>
                            <div data-v-4638519f="" data-v-3b96d212="" class="p">
                                <div data-v-4638519f="" class="p__pro">
                                    <div data-v-4638519f="" class="p__pro-d">Subscription Amount</div>
                                    <div data-v-4638519f="" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" class="el-progress el-progress--line el-progress--without-text el-progress--text-inside">
                                        <div class="el-progress-bar">
                                            <div class="el-progress-bar__outer" style="height: 10px;">
                                                <div class="el-progress-bar__inner" style="width: 100%; background-color: rgb(240, 185, 10);"><!----></div>
                                            </div>
                                        </div>
                                        <!---->
                                    </div>
                                </div>
                                <div data-v-4638519f="" class="p__x"><span data-v-4638519f="">100%</span><span data-v-4638519f="">100000/100000</span></div>
                            </div>
                        </div>
                        <div data-v-3b96d212="" data-v-4253ec34="" class="item info__list-item isPc">
                            <div data-v-3b96d212="" class="item__top">
                                <div data-v-3d01edac="" data-v-3b96d212="" class="icon">
                                    <div data-v-3d01edac="" class="icon__logo"><img data-v-3d01edac="" src="https://unicorn-oss.oss-ap-southeast-1.aliyuncs.com/img/other/1660874058410.png" alt="" /></div>
                                    <div data-v-3d01edac="" class="icon__info isPc">
                                        <span data-v-3d01edac="">LACE</span>
                                        <div data-v-e6dbb7ac="" data-v-3d01edac="" class="link" style="padding-bottom: 5px; display: none;">
                                            <div data-v-e6dbb7ac="" class="link__info detail"><!----><!----><!----><!----></div>
                                            <div data-v-e6dbb7ac="" class="link__time" style="display: none;"><span data-v-e6dbb7ac="">End date</span><span data-v-e6dbb7ac=""></span></div>
                                        </div>
                                        <span data-v-3d01edac="" class="icon__info-label">USDT</span>
                                        <div data-v-3d01edac="" class="icon__info-status isClose"><span data-v-3d01edac=""></span><span data-v-3d01edac="">Closed</span></div>
                                    </div>
                                </div>
                                <div data-v-e6dbb7ac="" data-v-3b96d212="" class="link">
                                    <div data-v-e6dbb7ac="" class="link__info"><!----><!----><!----><!----></div>
                                    <div data-v-e6dbb7ac="" class="link__time"><span data-v-e6dbb7ac="">End date</span><span data-v-e6dbb7ac="">2022-08-19</span></div>
                                </div>
                            </div>
                            <div data-v-3b96d212="" class="item__desc isPc">LOVELACE is the first Metaverse as a Service platform allowing creators to easily develop digital products with gamified rewards.</div>
                            <div data-v-3b96d212="" class="item__s isPc">
                                <div data-v-3b96d212="" class="item__s-i" style="align-items: flex-start;"><span data-v-3b96d212="">Issued</span><span data-v-3b96d212="">150000</span></div>
                                <div data-v-3b96d212="" class="item__s-i"><span data-v-3b96d212="">Participating</span><span data-v-3b96d212="">150000</span></div>
                                <div data-v-3b96d212="" class="item__s-i" style="align-items: flex-end;"><span data-v-3b96d212="">Period</span><span data-v-3b96d212="">60day</span></div>
                            </div>
                            <div data-v-4638519f="" data-v-3b96d212="" class="p">
                                <div data-v-4638519f="" class="p__pro">
                                    <div data-v-4638519f="" class="p__pro-d">Subscription Amount</div>
                                    <div data-v-4638519f="" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" class="el-progress el-progress--line el-progress--without-text el-progress--text-inside">
                                        <div class="el-progress-bar">
                                            <div class="el-progress-bar__outer" style="height: 10px;">
                                                <div class="el-progress-bar__inner" style="width: 100%; background-color: rgb(240, 185, 10);"><!----></div>
                                            </div>
                                        </div>
                                        <!---->
                                    </div>
                                </div>
                                <div data-v-4638519f="" class="p__x"><span data-v-4638519f="">100%</span><span data-v-4638519f="">150000/150000</span></div>
                            </div>
                        </div>
                        <!---->
                        <div class="el-loading-mask" style="background-color: rgba(0, 0, 0, 0.4); display: none;">
                            <div class="el-loading-spinner">
                                <i class="el-icon-loading"></i>
                                <p class="el-loading-text">loading...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'main/footer.html' %}
</section>
{% endblock %}
